@using Blazor.Diagrams.Components.Renderers;
@using OzricUI.Model

<div class="ozric-node @(Node.Selected ? " selected" : "")">
    <div class="ozric-node-icon"><span class="iconify" data-icon="@(Node.Icon)"></span></div>
    <div class="ozric-node-title">@(Node.Title)</div>
    @foreach (var port in Node.Ports.Select(p => p as IPort).Where(p => p != null))
    {
        <div class="@(port.cssClass)" hidden="@(port.hiddenIfLocked && Node.Locked)">
            <PortRenderer Port="@((PortModel) port)">
                <img src="icons/@(port.valueType).png" width="16" height="16" />
            </PortRenderer>
        </div>
    }
</div>

@code {
    [Parameter]
    public GraphNodeModel Node { get; set; }
}