@using Blazor.Diagrams.Components.Renderers;
@using OzricUI.Model

<div class="ozric-node @(Node.Selected ? " selected" : "")">
    <div class="ozric-node-icon"><span class="iconify" data-icon="@(Node.Icon)"></span></div>
    <div class="ozric-node-title">@(Node.Title)</div>
    @foreach (var port in Node.Ports)
    {
        <div class="@(port is InputPortModel ? "input-port" : "output-port")">
            <PortRenderer Port="@port" Class="@(port is InputPortModel ? "input-port" : "output-port")">
                <span class="iconify" data-icon="akar-icons:circle"></span>
            </PortRenderer>
        </div>
    }
</div>

@code {
    [Parameter]
    public GraphNodeModel Node { get; set; }
}