@using Blazor.Diagrams.Components.Renderers;
@using OzricUI.Model

<div class="ozric-node @(Node.Selected ? " selected" : "")">
    <div class="ozric-node-icon"><span class="iconify" data-icon="@(Node.Icon)"></span></div>
    <div class="ozric-node-title">@(Node.Title)</div>
    @foreach (var port in Node.Ports)
    {
        <div class="@(port is InputPortModel ? "input-port" : "output-port")">
            <PortRenderer Port="@port" Class="@(port is InputPortModel ? "input-port" : "output-port")">
                <img src="icons/@(((GraphPortModel)port).valueType).png" width="16" height="16" alt="@(((GraphPortModel)port).name)" />
            </PortRenderer>
        </div>
    }
    /*
    @if (Node is VariableInputsModel vim)
    {
        <div class="input-port">
            <PortRenderer Port="@vim.plus" Class="input-port">
                <img src="icons/@(vim.plus.valueType).png" width="16" height="16" />
            </PortRenderer>
        </div>
    }
</div>

@code {
    [Parameter]
    public GraphNodeModel Node { get; set; }
}