@using Blazor.Diagrams.Components.Renderers;
@using OzricUI.Model

<div class="ifany-node ozric-node @(Node.Selected ? " selected" : "")">
    <div class="ozric-node-icon">&or;</div>
    <div class="ozric-node-title">@(Node.Id)</div>
    @foreach (var port in Node.Ports)
    {
        <div class="@(port is InputPortModel ? "input-port" : "output-port")">
            <PortRenderer Port="@port" Class="@(port is InputPortModel ? "input-port" : "output-port")">
                &nbsp;
            </PortRenderer>
        </div>
    }
</div>

@code {
    [Parameter]
    public IfAnyModel Node { get; set; }
}