@using OzricUI.Model
@using OzricEngine.Nodes
@using OzricService

<MudDialog>
    <DialogContent>

        <MudContainer Style="max-height: 60vh; overflow-y: scroll;" >
            
            <MudTextField Label="Title" HelperText="The unique name for this node" @bind-Value="_id" For="@(() => _id)" Immediate="true" />
            
            <MudDivider DividerType="DividerType.Middle" Class="my-4" />

            @if (_patterns.Count > 0)
            {
                <MudTable Items="@_patterns" T="ModeMatch.Pattern" 
                          @bind-SelectedItem="selected"  
                          CanCancelEdit="true"
                          CommitEditTooltip="Apply"
                          CancelEditTooltip="Revert"
                          RowEditPreview="BackupItem" 
                          RowEditCancel="ResetItem"
                          ApplyButtonPosition="TableApplyButtonPosition.End"
                          Dense="true" Class="border-none" Elevation="0">
                    <ColGroup>
                        <col />
            		    <col style="width:150px;" />
                        <col style="width:150px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Pattern</MudTh>
                        <MudTh>Type</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Pattern">@context.pattern</MudTd>
                        <MudTd DataLabel="Type">@context.type</MudTd>
                    </RowTemplate>
                    <RowEditingTemplate>
                        <MudTd DataLabel="Pattern">
                            <MudTextField @bind-Value="@context.pattern" Required />
                        </MudTd>
                        <MudTd DataLabel="Type">
                            <MudSelect @bind-Value="@context.type" Variant="Variant.Text">
                                <MudSelectItem Value="ModeMatch.PatternType.Exact">Exact</MudSelectItem>
                                <MudSelectItem Value="ModeMatch.PatternType.Wildcard">Wildcard</MudSelectItem>
                                <MudSelectItem Value="ModeMatch.PatternType.Regex">Regex</MudSelectItem>
                            </MudSelect>
                        </MudTd>
                    </RowEditingTemplate>
                    
                </MudTable>
                    
                <MudDivider DividerType="DividerType.Middle" Class="my-2" />
            }

            <MudGrid>
                <MudItem xs="9">
                    <MudTextField Label="Add Pattern" HelperText="The pattern to match. Use wildcards or regular expression" @bind-Value="addPattern" />
                </MudItem>
                <MudItem xs="3" Class="align-self-center">
                    <MudButton OnClick="Add">Add</MudButton>
                </MudItem>
            </MudGrid>
            
            @if (_patterns.Count > 0)
            {
                <MudGrid>
                    <MudItem xs="9">
                        <MudTextField Label="Test Pattern" HelperText="Enter a mode to see if it matches" @bind-Value="testPattern" Immediate="true" />
                    </MudItem>
                    <MudItem xs="3" Class="align-self-center" hidden="@string.IsNullOrWhiteSpace(testPattern)">
                        @if (TestMatch())
                        {
                            <MudIcon Color="Color.Success" Icon="@Icons.Material.Outlined.CheckBox"/>
                            <span>Match</span>
                        }
                        else
                        {
                            <MudIcon Color="Color.Error" Icon="@Icons.Material.Outlined.Cancel"/>
                            <span>No Match</span>
                        }
                    </MudItem>
                </MudGrid>
            }
            
        </MudContainer>

    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Save" Disabled="!HasChanges">Save</MudButton>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>

</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public ModeMatchModel Model { get; set; }

    [Parameter]
    public ModeMatch Node { get; set; }

    private string _id;
    private List<ModeMatch.Pattern> _patterns;
    
    private ModeMatch.Pattern selected;
    private ModeMatch.Pattern elementBeforeEdit;
    private string addPattern { get; set; } = "";
    private string testPattern { get; set; } = "";

    void Cancel() => MudDialog.Cancel();
    void Save() => MudDialog.Close(DialogResult.Ok(GetChanges()));

    private bool HasChanges => GetChanges().Count > 0;

    protected override void OnInitialized()
    {
        _id = Node.id;
        _patterns = new List<ModeMatch.Pattern>(Node.patterns);
    }

    private bool TestMatch()
    {
        if (string.IsNullOrWhiteSpace(testPattern))
            return false;
        
        return ModeMatch.ToRegex(_patterns).Any(r => r.Match(testPattern).Success);
    }
    
    private List<GraphEditAction> GetChanges()
    {
        var changes = new List<GraphEditAction>();
        if (_id != Node.id)
            changes.Add(new GraphEditAction.RenameNode(Node, _id));
        
        if (!Node.patterns.SequenceEqual(_patterns))
            changes.Add(new GraphEditAction.EditNode(Node, Node.GetProperty(nameof(Node.patterns)), _patterns.ToArray()));

        return changes;
    }

    private void Add()
    {
        _patterns.Add(new ModeMatch.Pattern
        {
            pattern = addPattern
        });
        addPattern = "";
    }
    
    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
        {
            type = ((ModeMatch.Pattern)element).type,
            pattern = ((ModeMatch.Pattern)element).pattern,
        };
    }

    private void ResetItem(object element)
    {
        var pattern = (ModeMatch.Pattern) element;
        pattern.type = elementBeforeEdit.type;
        pattern.pattern = elementBeforeEdit.pattern;
    }
}