@using OzricEngine.Values
@using Boolean = OzricEngine.Values.Binary
@using System.Runtime.Intrinsics.X86

@switch (Value)
{
    case Binary b:
    {
        <span>@(b.value ? "on" : "off")</span>
        break;
    }
    case ColorValue c:
    {
        if (c.brightness == 0)
        {
            <span style="background-color: black; display: inline-block; width: 16px; height: 16px;" class="rounded">&nbsp;</span>
            <span>&nbsp;</span>
            <span>Off</span>
        }
        else
        {
            <span style="background-color: #@(c.ToHexString()); display: inline-block; width: 16px; height: 16px;" class="rounded">&nbsp;</span>
            <span>&nbsp;</span>

            switch (c)
            {
                case ColorRGB rgb:
                {
                    <span>RGB #@rgb.ToHexString()</span>
                    break;
                }
                case ColorTemp t:
                {
                    <span>@(t.temp) mired</span>
                    break;
                }
                case ColorHS hs:
                {
                    <span>H/S: @((hs.h * 100).ToString("N0"))/@((hs.s * 100).ToString("N0"))</span>
                    break;
                }
                case ColorXY xy:
                {
                    <span>X/Y: @(xy.x.ToString("F2"))/@(xy.y.ToString("F2"))</span>
                    break;
                }
            }
            <span> - </span>
            <span>@(Math.Round(c.brightness * 100).ToString())%</span>
        }
        break;
    }
    case Mode m:
    {
        <span>@m.value</span>
        break;
    }
    case Number s:
    {
        <span>@s.value</span>
        break;
    }
}

@code {
    
    [Parameter]
    public Value Value { get; set; }
   
}